<!DOCTYPE HTML>
<html>

	<!-- render head from index page -->
	<head th:replace="home::#head"></head>

	<body id="pageBody">

		<!-- render navbar from index page -->
		<div th:replace="home::#decorative2"></div>

		<div id="contentOuterSeparator"></div>

		<div class="container">
			<div class="divPanel page-content">
				<div class="breadcrumbs">
					<a href="index.html">Home</a> &nbsp;/&nbsp; <span>Simple</span>
				</div> 
				<div class="row">
					<div class="col-md-8" id="divMain">
						<h1>WELCOME</h1>
					</div>
					<div class="col-md-4 sidebar">
						<div class="sidebox">
							<h3 class="sidebox-title">Sample Sidebar Content</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and 
								<a href="#">typesetting industry</a>. 
								Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
							</p>                       
						</div>
					</div>
				</div>
				<div id="footerInnerSeparator">
				</div>
			</div>
		</div>

		<div id="footerOuterSeparator"></div>

		<!-- render footer from index page -->
		<div th:replace="home::#footer"></div>

		<!-- render scripts from index page -->
		<div th:replace="home::#scripts"></div>

	</body>
</html>